{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    <ul>
    {% for room in rooms %}
        <li>
            <a href="{% url 'rooms:detail' room.pk %}"> 
                {{room.name}} / ${{room.price}}
            </a>
        </li>
    {% endfor %}
    </ul>

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">next</a>
    {% endif %} 

{% endblock content %}
